data/
results/

pycache/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
ENV/
env/
.env
.ipynb_checkpoints/
*.pth
.pt
.onnx
.tflite
runs/
lightning_logs/
data/.mp4
data/.avi
data/.mov
results/input/
results/output/
results/output_annotated.mp4
.vscode/
*.code-workspace
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride